<div id="ftr" >
	<div id="ftr-layer">
		<div class="wbox">
			<ul class="ftrhelp clearfix">
				<li>
					<h4><b class="ico guide" style="height:30px;width:30px;padding:0"></b>购物帮助</h4>
							<a href="http://help.gome.com.cn/question/29.html" title="购物流程" target="_blank" rel="nofollow">购物流程</a>
							<a href="http://help.gome.com.cn/question/3.html" title="忘记密码" target="_blank" rel="nofollow">忘记密码</a>
							<a href="http://help.gome.com.cn/question/2.html" title="账户安全" target="_blank" rel="nofollow">账户安全</a>
							<a href="http://help.gome.com.cn/question/1.html" title="常见问题" target="_blank" rel="nofollow">常见问题</a>
							<a href="http://help.gome.com.cn/question/21.html" title="联系我们" target="_blank" rel="nofollow">联系我们</a>
				</li>
				<li>
					<h4><b class="ico payment"></b>支付帮助</h4>
							<a href="http://help.gome.com.cn/question/32.html" title="货到付款" target="_blank" rel="nofollow">货到付款</a>
							<a href="http://help.gome.com.cn/question/33.html" title="在线支付" target="_blank" rel="nofollow">在线支付</a>
							<a href="http://help.gome.com.cn/question/34.html" title="分期付款" target="_blank" rel="nofollow">分期付款</a>
							<a href="http://help.gome.com.cn/question/6.html" title="公司转账" target="_blank" rel="nofollow">公司转账</a>
							<a href="http://help.gome.com.cn/question/36.html" title="发票制度" target="_blank" rel="nofollow">发票制度</a>
				</li>
				<li>
					<h4><b class="ico process"></b>配送帮助</h4>
							<a href="http://help.gome.com.cn/question/9.html" title="配送查询" target="_blank" rel="nofollow">配送查询</a>
							<a href="http://help.gome.com.cn/question/28.html" title="配送说明" target="_blank" rel="nofollow">配送说明</a>
							<a href="http://help.gome.com.cn/question/8.html" title="配送费用" target="_blank" rel="nofollow">配送费用</a>
							<a href="http://help.gome.com.cn/question/37.html" title="门店自提" target="_blank" rel="nofollow">门店自提</a>
							<a href="http://help.gome.com.cn/question/38.html" title="签收与验货" target="_blank" rel="nofollow">签收与验货</a>
				</li>
				<li>
					<h4><b class="ico after-sales"></b>售后帮助</h4>
							<a href="http://help.gome.com.cn/question/10.html" title="退换货服务" target="_blank" rel="nofollow">退换货服务</a>
							<a href="http://help.gome.com.cn/question/39.html" title="退款说明" target="_blank" rel="nofollow">退款说明</a>
							<a href="http://help.gome.com.cn/question/73.html" title="家电保养" target="_blank" rel="nofollow">家电保养</a>
				</li>
				<li class="ftrhelp-last">
					<h4><b class="ico i-user"></b>国美服务</h4>
							<a href="http://help.gome.com.cn/question/19.html" title="价格保护" target="_blank" rel="nofollow">价格保护</a>
							<a href="http://help.gome.com.cn/question/25.html" title="上门安装" target="_blank" rel="nofollow">上门安装</a>
							<a href="http://help.gome.com.cn/question/24.html" title="家电维修" target="_blank" rel="nofollow">家电维修</a>
							<a href="http://help.gome.com.cn/question/22.html" title="家电回收" target="_blank" rel="nofollow">家电回收</a>
							<a href="http://www1.gome.com.cn/red/dgyw/index.jsp" title="集团采购" target="_blank" rel="nofollow">集团采购</a>
				</li>
				<li>
					<h4><b class="ico special-service"></b>国美优惠</h4>
							<a href="http://help.gome.com.cn/question/11.html" title="淘实惠" target="_blank" rel="nofollow">淘实惠</a>
							<a href="http://help.gome.com.cn/question/14.html" title="抢购攻略" target="_blank" rel="nofollow">抢购攻略</a>
							<a href="http://help.gome.com.cn/question/40.html" title="团购攻略" target="_blank" rel="nofollow">团购攻略</a>
							<a href="http://help.gome.com.cn/question/13.html" title="夜总惠" target="_blank" rel="nofollow">夜总惠</a>
							<a href="http://help.gome.com.cn/question/12.html" title="巅峰时刻" target="_blank" rel="nofollow">巅峰时刻</a>
				</li>
				<li>
					<h4><b class="ico member"></b>会员专区</h4>
							<a href="http://help.gome.com.cn/question/26.html" title="会员介绍" target="_blank" rel="nofollow">会员介绍</a>
							<a href="http://help.gome.com.cn/question/23.html" title="积分说明" target="_blank" rel="nofollow">积分说明</a>
							<a href="http://help.gome.com.cn/question/27.html" title="优惠券说明" target="_blank" rel="nofollow">优惠券说明</a>
							<a href="http://help.gome.com.cn/question/20.html" title="电子券" target="_blank" rel="nofollow">电子券</a>
							<a href="http://help.gome.com.cn/question/42.html" title="国美社区" target="_blank" rel="nofollow">国美社区</a>
				</li>
			</ul>
			<div class="promise">
				<div class="promisebox">
					<ul class="clearfix">
						<li><span class="ftr-promise-text">28年专业品质</span><b class="ico ensure"></b></li>
						<li><span class="ftr-promise-text">最国美 最实惠</span><b class="ico heart"></b></li>
						<li class="last"><span class="ftr-promise-text">心服务 新体验</span><b class="ico freeshipping"></b></li>
					</ul>
				</div>
			</div>
			<div class="footer-link">

		<a href="http://www.gome.com.cn/join/" target="_blank" rel="nofollow">商家入驻</a>|
		<a href="http://cps.gome.com.cn/" target="_blank" rel="nofollow">销售联盟</a>|
		<a href="http://www.gome.com.cn/ec/homeus/browse/helpcenter/gomeHelpClassification.jsp?newId=1.0002811E7" target="_blank" rel="nofollow">联系我们</a>|
		<a href="http://g.gome.com.cn/ec/homeus/myaccount/customer/customer.jsp" target="_blank" rel="nofollow">企业大客户</a>|
		<a href="http://www.gome.com.cn/ec/homeus/survey/surveyPage.jsp?key=gome002" target="_blank" rel="nofollow">用户体验改进计划</a>|
		<a href="http://www.gome.com.cn/links/" target="_blank" >友情链接</a>|
		<a href="http://shouji.gome.com.cn/" target="_blank" rel="nofollow">手机国美</a>|
		<a href="http://www.gome.com.cn/keywords/" target="_blank" >热门搜索</a>|
		<a href="http://www.gome.com.cn/topic/" target="_blank" >商品专题</a>|
		<a href="http://www.gome.com.cn/pinpai/" target="_blank" >品牌大全</a>
			</div>
<div class="segments"> 
					<span class="gome-website"><b class="ico gomegroup"></b><a href="http://www.gome.cn/"  target="_blank"  rel="nofollow">国美集团</a></span>
				<a class="ftr-gomelink" target="_blank"  rel="nofollow" href="http://www.gome.cn/article_list/index/48/5">店面导航图</a>
				<a class="ftr-gomelink" target="_blank"  rel="nofollow" href="http://www.multigold.com.cn/">多边金都</a>
</div>			<!-- 信 -->
			<div class="footer-faith"></div>
			<!-- 信 -->
			<div class="copyright">
				©2000-2014 国美在线电子商务有限公司 版权所有&nbsp;&nbsp;&nbsp;&nbsp;沪ICP备11009419号&nbsp;&nbsp;&nbsp;&nbsp;沪B2-20120004号
			</div>
			<div id="creditsrc" class="credit"> 
			<a target="_blank" rel="nofollow" href="http://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&entyId=20111216142637606">
				<img alt="经营性网站备案信息" width="124" height="35"  gome-src="http://img.gomeprelive.net.cn/images/124_35_zZOKnl.gif" src="http://img.gomeprelive.net.cn/images/grey.gif" >
			</a> 
			<a target="_blank" rel="nofollow" href="https://ss.knet.cn/verifyseal.dll?sn=2011071100100011373&comefrom=trust">
				<img alt="可信网站信用评价" width="124" height="35"  gome-src="http://img.gomeprelive.net.cn/images/authentication/124_35_kywzxypj.gif" src="http://img.gomeprelive.net.cn/images/grey.gif" >
			</a> 
			<a target="_blank" rel="nofollow" href="http://search.cxwz.org/cert/l/CX20111018000607000618">
				<img alt="诚信网站" width="124" height="35"  gome-src="http://img.gomeprelive.net.cn/images/authentication/124_35_cxwz.gif" src="http://img.gomeprelive.net.cn/images/grey.gif" >
			</a> 
			<a target="_blank" rel="nofollow" href="http://www.bj.cyberpolice.cn/index.do">
				<img alt="朝阳网络警察提醒您" width="124" height="35" gome-src="http://img.gomeprelive.net.cn/images/authentication/124_35_hdwljc.gif" src="http://img.gomeprelive.net.cn/images/grey.gif" >
			</a> 
			<a rel="nofollow" target="_blank" rel="nofollow" href="http://prom.gome.com.cn/html/prodhtml/topics/2012/dtsh.html">
				<img alt="节能专区" gome-src="http://img.gomeprelive.net.cn/images/authentication/124_35_jnzq.gif" src="http://img.gomeprelive.net.cn/images/grey.gif" >
			</a>
			</div>
			<div class="dim-code">
				<a href="http://shouji.gome.com.cn/" target="_blank" rel="nofollow" title="扫描下载客户端"></a>
			</div>
		</div>
	</div>
</div>
<div id="index-fixed-ad" class="" style="bottom: 8px;">
	<div class="wbox pr index-fx-ad-con" id="inex-fixed-ad-con"  >
		<div id="index-fixed-ad-codebox" class="index-fx-ad-codebox">
			<div id="index-fixed-codebox" class="ftr-fx-codebox" style="display:none;">
				<a  href="http://prom.gome.com.cn/html/prodhtml/topics/201407/chb/dfskf_kt07.html?intcmp=sy-k-0-0-0-ktfhc" title="" target="_blank"><img gome-src="http://img10.gomeprelive.net.cn/image/prodimg/promotion_image/promoImg/201407/20140714/9124442512.jpg" src="http://img.gomeprelive.net.cn/images/grey.gif" alt="" /></a>
			<a id="close-index-fixed-ad" title="关闭"><i></i></a>
			</div>
		</div>
		<div id="index-mini-codebox" class="ftr-mini-codebox" style="display:none;">
			<a href="javascript:void(0);" title="" target="">
							<img src="http://img.gomeprelive.net.cn/images/grey.gif" gome-src="http://img11.gomeprelive.net.cn/image/prodimg/promotion_image/promoImg/201410/20141023/小广告.jpg"/>
			</a>	
		</div>
	</div>
</div>
<div id="ftr-qrcode-item" class="ftr-fx-code">
	<div class="wbox pr">
		<div class="ftr-fx-codebox">
						<a target="_blank" rel="nofollow" class="ftr-fx-codelink" href="http://prom.gome.com.cn/html/prodhtml/topics/201407/2000fan50yuan718.html?intcmp=sy-K-3-3-1-sd"><img alt="" src="http://img.gomeprelive.net.cn/images/grey.gif" gome-src="http://img14.gomeprelive.net.cn/image/prodimg/promotion_image/promoImg/201407/20140715/7.16app.png" /></a>
			<a class="close-fx-code"></a>
		</div>
	</div>
</div>
<ul id="j-backtop" class="backtopbox">
	<li id="f-compare">
    	<a href="javascript:;" id="backCompare" class="complink" rel="nofollow" style="display:none;"><s></s>(0)</a>
    	<span class="f-compare-text">对比栏</span>
    </li>
    <li id="fx-collect">
    	<a href="#nogo" class="backlink fx-mycollect" title="我的收藏" rel="nofollow" ><s></s></a>
	    <div  class="backbox">
		    <div class="fx-pop" id="mycollect-pop">
		    	<h3 class="fxp-title">我的收藏</h3>
		    	<div class="fxp-slider">
			    	<ul id="fx-collectprod" class="fxp-list">
			    	</ul>
		    	</div>
		    	<div class="fxp-btn">
		    		<a href="javascript:;" class="fxp-up" title="上一页"><i></i></a>
		    		<a href="javascript:;" class="fxp-down" title="下一页"><i></i></a>
		    	</div>
			</div>
		</div>
    </li>
    <li id="fx-history">
    	<a href="javascript:;" class="backlink fx-myhistory" title="浏览记录" rel="nofollow" ><s></s></a>
    	<div  class="backbox">
	    	<div class="fx-pop" id="history-pop">
		    	<h3 class="fxp-title">我的浏览记录</h3>
		    	<div class="fxp-slider">
			    	<ul id="fx-browsedprod" class="fxp-list">
			    	</ul>
		    	</div>
		    	<div class="fxp-btn">
		    		<a href="javascript:;" class="fxp-up" title="上一页"><i></i></a>
		    		<a href="javascript:;" class="fxp-down" title="下一页"><i></i></a>
		    	</div>
			</div>
		</div>
    </li>
	<li class="qcode j-fxhover" id="qcodelink">
    	<a href="http://shouji.gome.com.cn/" title="客户端活动" target="_blank" rel="nofollow" class="backlink qrcode"><s></s></a>
    	<div  class="backbox">
	        <div class="fx-pop" id="qcode-pop">
	        	<div class="fx-dim-code">
					<a target="_blank" rel="nofollow" href="http://shouji.gome.com.cn/"></a>
					<p>扫描下载客户端</p>
				</div>
	        </div>
        </div>
    </li>
    <li class="j-fxhover">
		<div  class ="wraplive800" title="在线客服">
	     	<span  id="live800" class="live800 live800_gome" lim:company="3" lim:page="0" lim:shopId="3" lim:shopNsame="%E5%95%86%E9%93%BA%E5%90%8D%E5%AD%97" lim:offLineTip="">
	     		<a href="javascript:;" ></a>
			</span>
		</div>
		<div  class="backbox">
        	<div class="bk service">
            	<p class="bktext">在线客服</p><span class="bkicon"></span>
            </div>
        </div>
    </li>    
	<li class="active j-fxhover" id="active">
    	<a href="http://www.gome.com.cn/ec/homeus/survey/surveyPage.jsp?key=gome002" title="问卷调查" rel="nofollow" target="_blank" class="backlink usercheck"><s></s></a>
        <div class="backbox" style="display:none;">
            <div class="bk survey">
                <p class="bktext">问卷调查</p><span class="bkicon"></span>
            </div>
        </div>
    </li>
	<li>
    	<a href="#" title="返回顶部" class="backlink backtop" rel="nofollow" style="visibility: hidden;"><s></s><span></span></a>
    </li>
</ul>

<div id="floatqcode" class="floatQcode">
    <a title="手机逛国美" rel="nofollow" href="http://shouji.gome.com.cn/" target="_blank"></a>
    <p>手机逛国美<br />点击或扫描下载</p>
    <a href="javascript:;" class="ico" onclick="document.getElementById('floatqcode').style.display='none'">╳</a>
</div>
<pageCheck data-value="footer"></pageCheck><!--footerEnd-->







