<script type="text/javascript">
	var versionData='20140011002800120044';
</script>
<script type="text/javascript" src="http://js.atgsit.com.cn/??/f2ejs/g/jsConfig.min.js,/f2ejs/g/jsCssImport.min.js?v=20140011002800120011"></script><div id="topnav">
	<div class="wbox clearfix">
		<ul class="topside">
			<li id="topNavHover" class="vphone" data-visitor="hover"><b></b><a href="http://shouji.gome.com.cn/" target="_blank">手机国美</a>
				<div class="vphone-down"><a href="http://shouji.gome.com.cn/" target="_blank"></a><em class="i-angle"><i></i></em></div>
			</li>
			<li><a rel="nofollow" href="http://www.gomeart.com/?utm_source=gome&utm_medium=zuoshang/" target="_blank" title="国之美">国之美</a></li>	
			<li><a rel="nofollow" href="http://g.gome.com.cn/ec/homeus/redirect/redirect.jsp?url=http%3A%2F%2Fwww.multigold.com.cn%2F%3Fflag%3D1" target="_blank" title="多边黄金">多边黄金</a></li>	
		</ul>
		<ul class="topmenu clearfix">
		<li id="loginDiv" class="login-top">
			<span class="gwelcome">国美在线欢迎您！</span><a class="glogin" rel="nofollow" href="http://g.gomeprelive.com.cn/ec/homeus/myaccount/login.jsp?tableName=login&amp;orginURI=">请登录</a><a class="gsign" rel="nofollow" href="http://g.gomeprelive.com.cn/ec/homeus/myaccount/newregister/newregister.jsp">免费注册</a>
		</li>
		<li class="linespace"></li>
		<li class="g-myoder"><a rel="nofollow" href="http://g.gomeprelive.com.cn/ec/homeus/myaccount/myOrders.jsp?flag=a0">我的订单</a></li>
		<li class="pr hd-mygome js-tophover" id="homepageMyGome"><a rel="nofollow" class="menulink gmlink" href="http://g.gomeprelive.com.cn/ec/homeus/myaccount/gome/profileHome.jsp?flag=a">我的国美<b></b></a>
			<div class="menuhide">
				<ul class="mygomeinfo clearfix">
					<li class="first firstfix" id="helloWordSpan"><span class="fl">您好，请<a rel="nofollow" href="http://g.gomeprelive.com.cn/ec/homeus/myaccount/login.jsp?tableName=login&amp;orginURI=">登录</a></span></li>
					<li class="mygome-item item-line"><span class="itemlist-name">订单提醒：</span>
						<span class="mginfo"><a rel="nofollow" href="http://g.gomeprelive.com.cn/ec/homeus/myaccount/myOrders.jsp?flag=a0" target="_blank">待支付订单</a><span class="highlight" id="waitPay"></span></span>
						<span class="mginfo"><a rel="nofollow" href="http://g.gomeprelive.com.cn/ec/homeus/myaccount/myOrders.jsp?flag=a0" target="_blank">待评价商品</a><span class="highlight" id="waitComm"></span></span></li>
					<li class="mygome-item item-line"><span class="itemlist-name">优&nbsp;&nbsp;惠&nbsp;&nbsp;券：</span>
						<span class="mginfo"><a rel="nofollow" href="http://g.gomeprelive.com.cn/ec/homeus/myaccount/gomeMyCoupon.jsp?flag=a4" target="_blank">红券</a><span class="highlight" id="redQuan"></span></span>
						<span class="mginfo blueq"><a rel="nofollow" href="http://g.gomeprelive.com.cn/ec/homeus/myaccount/gomeMyCoupon.jsp?flag=a4" target="_blank">蓝券</a><span class="highlight" id="blueQuan"></span></span>
						<span class="mginfo blueq"><a rel="nofollow" href="http://g.gomeprelive.com.cn/ec/homeus/myaccount/gomeMyCoupon.jsp?flag=a4" target="_blank">国酷券/折扣券</a><span class="highlight" id="discountQuan"></span></span>
						<span class="mginfo"><a rel="nofollow" href="http://g.gomeprelive.com.cn/ec/homeus/myaccount/gomeMyCoupon.jsp?flag=a4" target="_blank">店铺券</a><span class="highlight" id="dianpuQuan"></span></span>
						<span class="mginfo"><a rel="nofollow" href="http://g.gomeprelive.com.cn/ec/homeus/myaccount/gomeMyCoupon.jsp?flag=a4" target="_blank">品牌券</a><span class="highlight" id="pinpaiQuan"></span></span>
					</li>
					<li class="mygome-item"><span class="itemlist-name">&nbsp;</span>
						<span class="mginfo"><a rel="nofollow" href="http://g.gomeprelive.com.cn/ec/homeus/myaccount/gome/menupage/myFavorites.jsp" target="_blank">我的收藏夹</a><span class="highlight" id="my-favorites"></span></span>
						<span class="mginfo"><a rel="nofollow" href="http://www.gomeprelive.com.cn/ec/homeus/n/guesslike/guesslike.jsp" target="_blank">更多惊喜</a></span>
					</li>
				</ul>
				<div class="topbrowsed">					 
					<h3 class="tb-title">最近浏览的商品</h3>
					<ul id="topbrowsedprod">
					</ul>
				</div>
			</div>
		</li>
		<li class="linespace"></li>
		<li>
		&nbsp;&nbsp;&nbsp;<a class='triggerLive800' href ='javascript:void(0);'>在线客服</a>&nbsp;&nbsp;&nbsp;
		</li>
				<li  class="pr top-map js-tophover t-help-center" >
					<a target="_blank"  rel="nofollow" class="menulink " href="http://help.gome.com.cn"><i class="i-fe-new"></i><span class="valign-inline">服务中心</span><b></b></a>
						<div class="menuhide">
							<div class="top-mapbox">
								<dl>
										<dd class="fsm-first">
											    <a href="http://help.gome.com.cn/question/29.html"  target="_blank" rel="nofollow">购物流程</a>
											    <a href="http://help.gome.com.cn/question/2.html" class="tm-side" target="_blank" rel="nofollow">账户安全</a>
											    <a href="http://help.gome.com.cn/question/33.html"  target="_blank" rel="nofollow">在线支付</a>
											    <a href="http://help.gome.com.cn/question/32.html" class="tm-side" target="_blank" rel="nofollow">货到付款</a>
											    <a href="http://help.gome.com.cn/question/9.html"  target="_blank" rel="nofollow">配送查询</a>
											    <a href="http://help.gome.com.cn/question/10.html" class="tm-side" target="_blank" rel="nofollow">退换货服务</a>
											    <a href="http://help.gome.com.cn/question/24.html"  target="_blank" rel="nofollow">家电维修</a>
											    <a href="http://help.gome.com.cn/question/22.html" class="tm-side" target="_blank" rel="nofollow">家电回收</a>
										</dd>
										<dd class="">
											    <a href="http://help.gome.com.cn/question/1.html"  target="_blank" rel="nofollow">常见问题</a>
											    <a href="http://help.gome.com.cn/" class="tm-side" target="_blank" rel="nofollow">自助服务</a>
											    <a href="http://help.gome.com.cn/question/21.html"  target="_blank" rel="nofollow">联系我们</a>
											    <a href="http://help.gome.com.cn/question/66.html" class="tm-side" target="_blank" rel="nofollow">监督举报</a>
										</dd>
								<dd><div class="telnum">客服热线：<strong>4008-708-708</strong></div></dd>
								</dl>
							</div>
						</div>
				</li>
				<li  class="pr top-map js-tophover company" >
					<a target="_blank"  rel="nofollow" class="menulink " href="http://enterprise.gome.com.cn/"><span class="valign-inline">企业服务</span><b></b></a>
						<div class="menuhide">
							<div class="top-mapbox">
								
										<a href="http://enterprise.gome.com.cn/" target="_blank" rel="nofollow">企业采购</a>
										<a href="http://g.gome.com.cn/ec/homeus/myaccount/customer/customer.jsp" target="_blank" rel="nofollow">企业客户</a>
								
								
							</div>
						</div>
				</li>
				<li  class="no-map" >
					<a target="_blank"  rel="nofollow" class=" " href="http://bbs.gome.com.cn"><span class="valign-inline">国美社区</span></a>
				</li>
				<li id="menus-itemlast" class="no-map" >
					<a target="_blank"  rel="nofollow" class=" g-jion" href="http://www.gome.com.cn/join/"><span class="valign-inline">商家入驻</span><span class="valign-inline-tip" ></span></a>
				</li>
	</ul>
	</div>
</div>
			<div id="topad-flag" class="topad j-change js-parbox">
				<div class="wbox pr">
					<div class="js-slideS"><a rel="nofollow" href="http://prom.gome.com.cn/html/prodhtml/topics/201407/chb/ddf_gm.html?intcmp=A-2-1-0-df" target="_blank"><img alt="" src="http://img.gomeprelive.net.cn/images/grey.gif" gome-src="http://img10.gomeprelive.net.cn/image/prodimg/promotion_image/promoImg/201407/20140715/0715dt.jpg"></a></div>
					<div id="topad-flag-other" style="display: none;" class="js-slideB"><a rel="nofollow" href="http://prom.gome.com.cn/html/prodhtml/topics/201407/chb/ddf_gm.html?intcmp=A-2-1-0-df" target="_blank"><img alt="" src="http://img.gomeprelive.net.cn/images/grey.gif" gome-src="http://img10.gomeprelive.net.cn/image/prodimg/promotion_image/promoImg/201407/20140716/0716dtxl.jpg"></a></div>
					<span id="topad-flag-os">
						<a class="open-topad" href="javascript:;" style="display:none;"><i>展开</i></a>
						<a class="stop-topad" href="javascript:;"><i>收起</i></a>
					</span>
					<a style="display:none;" class="close-topad" href="#nogo"><i>关闭</i></a>
				</div>	
			</div>



<div class="mainheader">
    <div class="gomeTopic">
        <div class="wbox headlayer">
            <div class="gome-logo">
                <div class="gome-logoico"><a href="http://www.gomeprelive.com.cn/" title="国美在线"><img src="http://img.gomeprelive.net.cn/images/ui/gomelogo.png" alt="国美在线"></a></div>


<h2 class="logogif" id="j-imgload-logo">
    <a rel="nofollow" target="_blank" href="http://prom.gome.com.cn/html/prodhtml/topics/201407/chb/gm_qydp.html?intcmp=sy-A-4-0-0-sx">
        <img width="100px" height="50px" src="http://img.gomeprelive.net.cn/images/grey.gif" gome-src="http://img10.gomeprelive.net.cn/image/prodimg/promotion_image/promoImg/201407/20140716/0716sxlogo.gif" alt="" />
    </a>
</h2>
            </div>
            <div class="topsearch" id="topSearch">
                <div id="topSearchHover" class="searchbox" data-visitor="hover">
                    <form id="searchForm" method="get" action="http://www.gomeprelive.com.cn/search" onsubmit="return keyCheck();">
                        <label id="keyLabel" class="overtips" style="display: block;" default="                                    防晒霜,1;
                                    空调扇,1
"></label>
                        <input type="text" id="searchInput" name="question" class="search-input" value="" autocomplete="off" onpropertychange="if(this.value.length>200){this.value=this.value.slice(0,199)}">
                        <button class="search-btn" onclick="doSearch();">搜索</button>
                    </form>
                </div>
                <div class="hotkeyword">
                            <a rel="nofollow" target="_blank" href="http://www.sina.com.cn" title="苹果iphone5">
                                <span class="">苹果iphone5</span>
                            </a>
                            <a rel="nofollow" target="_blank" href="http://www.baidu.com" title="抽红包">
                                <span class="highlight">抽红包</span>
                            </a>
                            <a rel="nofollow" target="_blank" href="http://www.gome.com.cn/category/cat10005464.html?intcmp=sy-A-5-3-4-lx" title="白酒">
                                <span class="">白酒</span>
                            </a>
                            <a rel="nofollow" target="_blank" href="http://www.gome.com.cn/category/cat10000182.html?intcmp=sy-A-5-3-3-rsq" title="红酒">
                                <span class="">红酒</span>
                            </a>
                            <a rel="nofollow" target="_blank" href="http://www.gome.com.cn/product/A0004718092-pop8003729078.html?intcmp=sy-A-5-3-5-bjl" title="葡萄酒">
                                <span class="">葡萄酒</span>
                            </a>
                            <a rel="nofollow" target="_blank" href="http://www.gome.com.cn/category/cat16035635.html?intcmp=sy-A-5-3-6-dzhx" title="啤酒">
                                <span class="">啤酒</span>
                            </a>
                            <a rel="nofollow" target="_blank" href="http://www.gome.com.cn/category/cat10000230-00-0-36-0-0-0-0-1-0-0-1-0-0-0-0-0-0.html?intcmp=sy-A-5-3-7-kq" title="扎啤">
                                <span class="">扎啤</span>
                            </a>
                    <a class="htw-imp" href="http://www.gomeprelive.com.cn/top10/" target="_blank">商品排行榜</a>
                </div>
                <div class="searchtips buoyant" id="searchTips" style="display:none;"><ul class="searchabout j-hover clearfix" id="searchTipsList"></ul></div>
                <script type="text/javascript">
                    var environment = 'commerce',
                     targetType ='Production',
                     contentLabels = 'Catalog',
                     language = 'chinese' ;
                </script>
                <script type="text/javascript">
                    /*
                    document.getElementById("searchInput").value = getQueryString('question');
                    function getQueryString(name) {
                        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
                        var r = window.location.search.substr(1).match(reg);
                        if (r != null) return unescape(r[2]); return '';
                    }
                    */
                </script>
            </div>


            <div class="mygome-side" data-cart="mincart">
                <ul class="topmenu clearfix">
                    <li class="pr shopcartbox js-tophover"><span class="cartlinkbox"><a rel="nofollow" class="menulink cartlink" href="http://g.gomeprelive.com.cn/ec/homeus/cart/cart.jsp"><em class="i-cart"><span class="shopnum"><span id="commerceItemQuantityId">0</span><i></i></span></em><span id="hdrcarttext">购物车空了</span><b></b></a></span>
                        <div class="menuhide j-overflowy" id="miniShoppingcartLoadId">
                            <div id="csLoading" class="loding-layer"><span class="g-loading"></span><span class="loading-text">正在加载中…</span></div>
                        </div>
                    </li>
                </ul>

            </div>

        </div>
            <div class="mainnavbox ">
                <div class="wbox">
                    <div class="sidecategory">
                        <h2 class="category-title"><a  target="_blank" href="http://www.gomeprelive.com.cn/allcategory/">全部商品分类<i class="ico-updown"></i><i class="ico-cate-side"></i></a></h2>
                            <div class="listnav js-categoryshow">
                                <ul class="categorylist clearfix" done="true">
                                            <li id="cat1" class="snav1">
                                                <h3><span class="gpoint">.</span><a href="http://electronic.gome.com.cn/"  target="_blank" title="电视 影音">电视 影音</a></h3>
                                                <div class="fullcategory " id="catid1"></div>
                                            </li>
                                            <li id="cat2" class="snav2">
                                                <h3><span class="gpoint">.</span><a href="http://electronic.gome.com.cn/"  target="" title="冰箱 洗衣机 空调">冰箱 洗衣机 空调</a></h3>
                                                <div class="fullcategory " id="catid2"></div>
                                            </li>
                                            <li id="cat3" class="snav3">
                                                <h3><span class="gpoint">.</span><a href="http://life.gome.com.cn/"  target="_blank" title="厨卫 生活电器">厨卫 生活电器</a><a href="http://www.gome.com.cn/category/cat10000230-00-0-36-0-0-0-0-1-0-0-1-0-0-0-0-0-0.html"  target="" title="净化器">净化器</a></h3>
                                                <div class="fullcategory " id="catid3"></div>
                                            </li>
                                            <li id="cat4" class="snav4">
                                                <h3><span class="gpoint">.</span><a href="http://tongxun.gome.com.cn/"  target="" title="手机">手机</a><a href="http://digital.gome.com.cn/"  target="_blank" title="数码">数码</a><a href="http://peijian.gome.com.cn/" class="hotLink" target="" title="精品配件">精品配件</a></h3>
                                                <div class="fullcategory " id="catid4"></div>
                                            </li>
                                            <li id="cat5" class="snav5">
                                                <h3><span class="gpoint">.</span><a href="http://computer.gome.com.cn/"  target="_blank" title="电脑 办公配件">电脑 办公配件</a></h3>
                                                <div class="fullcategory " id="catid5"></div>
                                            </li>
                                            <li id="cat6" class="snav6">
                                                <h3><span class="gpoint">.</span><a href="http://furnit.gome.com.cn/"  target="_blank" title="住宅家具">住宅家具</a><a href="http://decoration.gome.com.cn/"  target="_blank" title="家装建材">家装建材</a><a href="http://homes.gome.com.cn/" class="hotLink" target="" title="家装馆">家装馆</a></h3>
                                                <div class="fullcategory " id="catid6"></div>
                                            </li>
                                            <li id="cat7" class="snav7">
                                                <h3><span class="gpoint">.</span><a href="http://jiafang.gome.com.cn/"  target="_blank" title="床品家纺">床品家纺</a><a href="http://home.gome.com.cn/"  target="_blank" title="家居日用">家居日用</a></h3>
                                                <div class="fullcategory " id="catid7"></div>
                                            </li>
                                            <li id="cat8" class="snav8">
                                                <h3><span class="gpoint">.</span><a href="http://alcohol.gome.com.cn/"  target="_blank" title="食品酒水">食品酒水</a><a href="http://health.gome.com.cn/"  target="_blank" title="医疗保健">医疗保健</a><a href="http://ms.gome.com.cn/?intcmp=meise-it-sy-daohang" class="hotLink" target="" title="美色">美色</a></h3>
                                                <div class="fullcategory " id="catid8"></div>
                                            </li>
                                            <li id="cat9" class="snav9">
                                                <h3><span class="gpoint">.</span><a href="http://baby.gome.com.cn/"  target="_blank" title="母婴玩具">母婴玩具</a><a href="http://beauty.gome.com.cn/"  target="_blank" title="美妆个护">美妆个护</a></h3>
                                                <div class="fullcategory " id="catid9"></div>
                                            </li>
                                            <li id="cat10" class="snav10">
                                                <h3><span class="gpoint">.</span><a href="http://clothing.gome.com.cn/"  target="" title="服饰鞋帽">服饰鞋帽</a><a href="http://toysgifts.gome.com.cn/"  target="_blank" title="运动户外">运动户外</a><a href="http://fashion.gome.com.cn/?intcmp=fzc-sy-ad-8888" class="hotLink" target="" title="服装城">服装城</a></h3>
                                                <div class="fullcategory " id="catid10"></div>
                                            </li>
                                            <li id="cat11" class="snav11">
                                                <h3><span class="gpoint">.</span><a href="http://luxury.gome.com.cn/"  target="_blank" title="箱包奢品">箱包奢品</a><a href="http://watch.gome.com.cn/"  target="_blank" title="钟表首饰">钟表首饰</a></h3>
                                                <div class="fullcategory " id="catid11"></div>
                                            </li>
                                            <li id="cat12" class="snav12">
                                                <h3><span class="gpoint">.</span><a href="http://auto.gome.com.cn/"  target="_blank" title="汽车整车 保养 配件">汽车整车 保养 配件</a></h3>
                                                <div class="fullcategory " id="catid12"></div>
                                            </li>
                                            <li id="cat13" class="snav13">
                                                <h3><span class="gpoint">.</span><a href="http://gold.gome.com.cn"  target="" title="黄金收藏">黄金收藏</a><a href="http://www.gomeart.com/"  target="" title="文化艺术">文化艺术</a></h3>
                                                <div class="fullcategory " id="catid13"></div>
                                            </li>
                                            <li id="cat14" class="snav14">
                                                <h3><span class="gpoint">.</span><a href="http://chongzhi.gome.com.cn/"  target="_blank" title="充值">充值</a><a href="http://caipiao.gome.com.cn/"  target="_blank" title="彩票">彩票</a><a href="http://game.gome.com.cn/"  target="_blank" title="游戏">游戏</a><a href="http://book.gome.com.cn/"  target="_blank" title="图书">图书</a></h3>
                                                <div class="fullcategory specialcate" id="catid14"></div>
                                            </li>
                                </ul>
                            </div>
                    </div>
                    <ul class="mainnav clearfix">
                                    <li id="g-index" class="navcur  ">
                                        <a href="http://www.gome.com.cn/" target="_blank" title="首页" ><span>首页</span></a>
                                    </li>
                                    <li  class=" mainav-hot ">
                                        <a href="http://www.gome.com.cn/ec/rushbuy/browse/gomeSnapUp.jsp" target="_blank" title="抢购" ><span>抢购</span></a>
                                    </li>
                                    <li  class=" mainav-hot ">
                                        <a href="http://tuan.gome.com.cn" target="_blank" title="团购" ><span>团购</span></a>
                                            <i class="g-nav-line"></i>
                                    </li>
                                    <li  class="  ">
                                        <a href="http://www.gome.com.cn/jiadian/" target="_blank" title="家电特区" rel="nofollow"><span>家电特区</span></a><span class ="tag_new"></span>
                                    </li>
                                    <li  class="  ">
                                        <a href="http://fashion.gome.com.cn/?intcmp=fzc-sy-ad-8888" target="_blank" title="服装城" ><span>服装城</span></a>
                                    </li>
                                    <li  class="  ">
                                        <a href="http://market.gome.com.cn/" target="_blank" title="国美超市" ><span>国美超市</span></a>
                                    </li>
                                    <li  class="  ">
                                        <a href="http://g.gome.com.cn/ec/homeus/redirect/redirect.jsp?url=http://www.multigold.com.cn/index.html%3Fflag%3D1" target="_blank" title="多边黄金" rel="nofollow"><span>多边黄金</span></a>
                                    </li>
                                    <li class="special-needs"><a href="http://prom.gome.com.cn/html/prodhtml/topics/201409/chb/homx.html" target="_blank" title="企业采购"><img class="special-custom" alt="企业采购" src="http://img6.gomein.net.cn/image/prodimg/productDesc/descImg/201409/firstpage/fp.png?SpecialNeeds=1"/></a></li>
                    </ul>
    <div class="hdrsideRoll">
        <div class="adnavside" data-roll="hdrSideUp">
                <ul class="hd-clickscroll js-tads-clsul">
                            <li><a rel="nofollow" target="_blank" href="http://prom.gome.com.cn/html/prodhtml/topics/201407/sqkh3czh.714.html?intcmp=sy-A-8-1-0-3c" title=""><img alt="" width="160" height="40" src="http://img10.gomeprelive.net.cn/image/prodimg/promotion_image/promoImg/201407/20140715/7.15gwx1pt.jpg" /></a></li>
                            <li><a rel="nofollow" target="_blank" href="http://prom.gome.com.cn/html/prodhtml/topics/201407/jz718yr.html?intcmp=sy-A-8-2-0-jj" title=""><img alt="" width="160" height="40" src="http://img.gomeprelive.net.cn/images/grey.gif" gome-src="http://img10.gomeprelive.net.cn/image/prodimg/promotion_image/promoImg/201407/20140715/7.15gwx2jz.jpg" /></a></li>
                            <li><a rel="nofollow" target="_blank" href="http://prom.gome.com.cn/html/prodhtml/topics/201407/dfcj.html?intcmp=sy-A-8-3-0-kx" title=""><img alt="" width="160" height="40" src="http://img.gomeprelive.net.cn/images/grey.gif" gome-src="http://img10.gomeprelive.net.cn/image/prodimg/promotion_image/promoImg/201407/20140716/7.17gwx3.jpg" /></a></li>
                </ul>
        </div>
        <div class="hdrsRollbtn">
            <a class="j-hdrbtn-up" href="javascript:;" data-btn="goUp"><i></i></a>
            <a class="j-hdrbtn-down" href="javascript:;" data-btn="goDown"><i></i></a>
        </div>
    </div>
                </div>
            </div>
    </div>
</div>
<!--headerEnd-->










