<script type="text/javascript">
	var versionData='20150024001800080057';
</script>
<script type="text/javascript" src="http://js.gomein.net.cn/??/f2ejs/g/jsConfig.min.js,/f2ejs/g/jsCssImport.min.js?v=20150024001800080024"></script><div id="topnav">
	<div class="wbox clearfix">
		<ul class="topside">
			<li id="topNavHover" class="vphone" data-visitor="hover"><b></b><a href="http://shouji.gome.com.cn/" target="_blank">手机国美</a>
				<div class="vphone-down"><a href="http://shouji.gome.com.cn/" target="_blank"></a><em class="i-angle"><i></i></em></div>
			</li>
			<li><a rel="nofollow" href="http://www.gomeart.com/?utm_source=gome&utm_medium=zuoshang/" target="_blank" title="国之美">国之美</a></li>	
			<li><a rel="nofollow" href="http://g.gome.com.cn/ec/homeus/redirect/redirect.jsp?url=http%3A%2F%2Fwww.multigold.com.cn%2F%3Fflag%3D1" target="_blank" title="多边黄金">多边黄金</a></li>	
		</ul>
		<ul class="topmenu clearfix">
		<li id="loginDiv" class="login-top">
			<span class="gwelcome">国美在线欢迎您！</span><a class="glogin" rel="nofollow" href="https://login.gome.com.cn/login">登录</a><a class="gsign" rel="nofollow" href="https://reg.gome.com.cn/register/index/person">注册</a>
		</li>
		<li class="linespace"></li>
		<li class="g-myoder"><a rel="nofollow" href="http://g.gome.com.cn/ec/homeus/myaccount/myOrders.jsp?flag=a0">我的订单</a></li>
		<li class="pr hd-mygome js-tophover" id="homepageMyGome"><a rel="nofollow" class="menulink gmlink" href="http://g.gome.com.cn/ec/homeus/myaccount/gome/profileHome.jsp?flag=a">我的国美<b></b></a>
			<div class="menuhide">
				<ul class="mygomeinfo clearfix">
                    <li class="first firstfix" id="helloWordSpan"><span class="fl">您好，请<a rel="nofollow" href="https://login.gome.com.cn/login">登录</a></span></li>
					<li class="mygome-item item-line"><span class="itemlist-name">订单提醒：</span>
						<span class="mginfo"><a rel="nofollow" href="http://g.gome.com.cn/ec/homeus/myaccount/myOrders.jsp?flag=a0" target="_blank">待支付订单</a><span class="highlight" id="waitPay"></span></span>
						<span class="mginfo"><a rel="nofollow" href="http://g.gome.com.cn/ec/homeus/myaccount/myOrders.jsp?flag=a0" target="_blank">待评价商品</a><span class="highlight" id="waitComm"></span></span></li>
					<li class="mygome-item item-line"><span class="itemlist-name">优&nbsp;&nbsp;惠&nbsp;&nbsp;券：</span>
						<span class="mginfo"><a rel="nofollow" href="http://g.gome.com.cn/ec/homeus/myaccount/gomeMyCoupon.jsp?flag=a4" target="_blank">红券</a><span class="highlight" id="redQuan"></span></span>
						<span class="mginfo blueq"><a rel="nofollow" href="http://g.gome.com.cn/ec/homeus/myaccount/gomeMyCoupon.jsp?flag=a4" target="_blank">蓝券</a><span class="highlight" id="blueQuan"></span></span>
						<span class="mginfo blueq"><a rel="nofollow" href="http://g.gome.com.cn/ec/homeus/myaccount/gomeMyCoupon.jsp?flag=a4" target="_blank">国酷券/折扣券</a><span class="highlight" id="discountQuan"></span></span>
						<span class="mginfo"><a rel="nofollow" href="http://g.gome.com.cn/ec/homeus/myaccount/gomeMyCoupon.jsp?flag=a4" target="_blank">店铺券</a><span class="highlight" id="dianpuQuan"></span></span>
						<span class="mginfo"><a rel="nofollow" href="http://g.gome.com.cn/ec/homeus/myaccount/gomeMyCoupon.jsp?flag=a4" target="_blank">品牌券</a><span class="highlight" id="pinpaiQuan"></span></span>
					</li>
					<li class="mygome-item"><span class="itemlist-name">&nbsp;</span>
						<span class="mginfo"><a rel="nofollow" href="http://g.gome.com.cn/ec/homeus/myaccount/gome/menupage/myFavorites.jsp" target="_blank">我的收藏夹</a><span class="highlight" id="my-favorites"></span></span>
						<span class="mginfo"><a rel="nofollow" href="http://www.gome.com.cn/ec/homeus/n/guesslike/guesslike.jsp" target="_blank">更多惊喜</a></span>
					</li>
				</ul>
				<div class="topbrowsed">					 
					<h3 class="tb-title">最近浏览的商品</h3>
					<ul id="topbrowsedprod">
					</ul>
				</div>
			</div>
		</li>
		<li class="linespace"></li>
		<li>
            <a class='triggerLive800' href ='javascript:void(0);'>在线客服</a>
		</li>
				<li  class="pr top-map js-tophover t-help-center" >
					<a target="_blank"  rel="nofollow"  class="menulink " href="http://help.gome.com.cn"><span class="valign-inline">服务中心</span><b></b></a>
						<div class="menuhide">
							<div class="top-mapbox">
								<dl>
										<dd class="fsm-first">
											    <a href="http://help.gome.com.cn/question/29.html"  target="_blank"  rel="nofollow">购物流程</a>
											    <a href="http://help.gome.com.cn/question/33.html" class="tm-side" target="_blank"  rel="nofollow">在线支付</a>
											    <a href="http://help.gome.com.cn/question/32.html"  target="_blank"  rel="nofollow">货到付款</a>
											    <a href="http://help.gome.com.cn/question/9.html" class="tm-side" target="_blank"  rel="nofollow">配送查询</a>
											    <a href="http://help.gome.com.cn/question/10.html"  target="_blank"  rel="nofollow">退换货服务</a>
											    <a href="http://prom.gome.com.cn/html/prodhtml/topics/201408/chb/qxg_gm.html" class="tm-side" target="_blank"  rel="nofollow">延保服务</a>
											    <a href="http://weixiu.gome.com.cn/"  target="_blank" >家电维修</a>
											    <a href="http://huishou.gome.com.cn/" class="tm-side" target="_blank" >家电回收</a>
										</dd>
										<dd class="">
											    <a href="http://help.gome.com.cn/question/1.html"  target="_blank"  rel="nofollow">常见问题</a>
											    <a href="http://help.gome.com.cn/" class="tm-side" target="_blank"  rel="nofollow">自助服务</a>
											    <a href="http://help.gome.com.cn/question/21.html"  target="_blank"  rel="nofollow">联系我们</a>
											    <a href="http://help.gome.com.cn/question/66.html" class="tm-side" target="_blank"  rel="nofollow">监督举报</a>
										</dd>
								<dd><div class="telnum">客服热线：<strong>4008-708-708</strong></div></dd>
								</dl>
							</div>
						</div>
				</li>
				<li  class="pr top-map js-tophover company" >
					<a target="_blank"  rel="nofollow"  class="menulink " href="http://enterprise.gome.com.cn/"><span class="valign-inline">企业服务</span><b></b></a>
						<div class="menuhide">
							<div class="top-mapbox">
								
										<a href="http://enterprise.gome.com.cn/" target="_blank"  rel="nofollow" >企业采购</a>
										<a href="http://g.gome.com.cn/ec/homeus/myaccount/customer/customer.jsp" target="_blank"  rel="nofollow" >企业客户</a>
								
								
							</div>
						</div>
				</li>
				<li  class="no-map" >
					<a target="_blank"   class=" " href="http://bbs.gome.com.cn"><span class="valign-inline">国美社区</span></a>
				</li>
				<li id="menus-itemlast" class="no-map" >
					<a target="_blank"  rel="nofollow"  class=" g-jion" href="http://www.gome.com.cn/join/"><span class="valign-inline">商家入驻</span><span class="valign-inline-tip" ></span></a>
				</li>
	</ul>
	</div>
</div>

<div class="mainheader overseas-head">
    <div class="gomeTopic">
        <div class="wbox headlayer">
            <div class="gome-logo">
                <h1 class="gome-logoico"><a href="http://www.gomehigo.hk/" title="国美在线"><img src="http://img.gomein.net.cn/images/ui/overseas_logo.png" alt="国美在线"></a>
                </h1>
                <h2 class="overseas-logogif" id="j-imgload-logo">
                    <img src="http://img.gomein.net.cn/images/ui/ensure_zp.png" alt="正品保障" width="80" height="32">
                    <img src="http://img.gomein.net.cn/images/ui/ensure_zc.png" alt="正品保障" width="80" height="32">
                    <img src="http://img.gomein.net.cn/images/ui/ensure_sh.png" alt="正品保障" width="80" height="32">
                </h2>
            </div>


            <div class="topsearch" id="topSearch">
                <div id="topSearchHover" class="searchbox" data-visitor="hover">
                    <form id="searchForm" method="get" action="http://search.gome.com.cn/search" onsubmit="return keyCheck();">
                        <label id="keyLabel" class="overtips" style="display: block;" default="                                    iPhone 6s,1;
                                    4k电视,1;
                                    取暖器,1
"></label>
                        <input type="text" id="searchInput" name="question" class="search-input" value="" autocomplete="off" onpropertychange="if(this.value.length>200){this.value=this.value.slice(0,199)}">
                        <input type="hidden" name="market" value="11">
                        <input type="hidden" name="marketPage" value="1">
                        <button class="search-btn" onclick="doSearch();">搜索</button>
                    </form>
                </div>
                <div class="hotkeyword">
                            <a rel="nofollow" target="_blank" href="http://prom.gome.com.cn/html/prodhtml/topics/201511/chb/Mrli11.html?intcmp=sy-A-4-1-0" title="老李专场">
                                <span class="highlight">老李专场</span>
                            </a>
                            <a rel="nofollow" target="_blank" href="http://prom.gome.com.cn/html/prodhtml/topics/201511/chb/haierppsd.html?intcmp=sy-A-4-2-0" title="海尔满减">
                                <span class="">海尔满减</span>
                            </a>
                            <a rel="nofollow" target="_blank" href="http://prom.gome.com.cn/html/prodhtml/topics/201511/qdjjh201511.html?intcmp=sy-A-4-3-0" title="家居0元购">
                                <span class="">家居0元购</span>
                            </a>
                            <a rel="nofollow" target="_blank" href="http://prom.gome.com.cn/html/prodhtml/topics/201511/song-cfwy18.html?intcmp=sy-A-4-4-0" title="小厨宝369">
                                <span class="">小厨宝369</span>
                            </a>
                            <a rel="nofollow" target="_blank" href="http://prom.gome.com.cn/html/prodhtml/topics/201511/s111012.html?intcmp=sy-A-4-5-0" title="羽绒服99">
                                <span class="">羽绒服99</span>
                            </a>
                            <a rel="nofollow" target="_blank" href="http://prom.gome.com.cn/html/prodhtml/topics/201511/11.18shouji.html?intcmp=sy-A-4-6-0" title="手机排行榜">
                                <span class="">手机排行榜</span>
                            </a>
                            <a rel="nofollow" target="_blank" href="http://prom.gome.com.cn/html/prodhtml/topics/201511/qcssyfc.html?intcmp=sy-A-4-7-0" title="车品0元">
                                <span class="">车品0元</span>
                            </a>
                            <a rel="nofollow" target="_blank" href="http://prom.gome.com.cn/html/prodhtml/topics/201511/18/llzccdfhc.html?intcmp=sy-A-4-8-0" title="电视真省">
                                <span class="">电视真省</span>
                            </a>
                    <a class="htw-imp" href="http://www.gome.com.cn/top10/" target="_blank">商品排行榜</a>
                </div>
                <div class="searchtips buoyant" id="searchTips" style="display:none;">
                   <span id="his_title" class="hisTitle" style="display:none">
                        <span href="javascript:void(0);" class="his_titileName clearfix">
                            <span class="ht fl">最近搜索</span>
                            <a class="fr color-b" id="hisClear">全部清空</a>
                        </span>
                    </span>
                    <ul class="searchabout j-hover clearfix" id="searchTipsList">
                    </ul>
                </div>
                <script type="text/javascript">
                    var environment = 'commerce',
                     targetType ='Production',
                     contentLabels = 'Catalog',
                     language = 'chinese' ;
                </script>
                <script type="text/javascript">
                    /*
                    document.getElementById("searchInput").value = getQueryString('question');
                    function getQueryString(name) {
                        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
                        var r = window.location.search.substr(1).match(reg);
                        if (r != null) return unescape(r[2]); return '';
                    }
                    */
                </script>
            </div>

            <div class="mygome-side" data-cart="mincart">
                <ul class="topmenu clearfix">
                    <li class="pr shopcartbox js-tophover"><span class="cartlinkbox"><a rel="nofollow" class="menulink cartlink" href="http://g.gome.com.cn/ec/homeus/cart/cart.jsp"><em class="i-cart"><span class="shopnum"><span id="commerceItemQuantityId">0</span><i></i></span></em><span id="hdrcarttext">购物车空了</span><b></b></a></span>
                        <div class="menuhide j-overflowy" id="miniShoppingcartLoadId">
                            <div id="csLoading" class="loding-layer"><span class="g-loading"></span><span class="loading-text">正在加载中…</span></div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>

    </div>
</div>
<!-- 导航 start-->
<div class="overseas-head overseas-menu">
    <div class="wbox">
        <div class="sidecategory">
            <h2 class="category-title">商品分类</h2>
            <div class="o-listnav" id="o-menubox">
                <ul class="o-listul">
                            <li id="snav0">
                                    <div class="o-menu-box edit-mode" modelType="2" modelId="1,000,040,522">
                                        <h3 class="title">美妆个护</h3>
                                        <div class="linkbox">
                                                            <a href="http://search.gome.com.cn/search?question=%E5%8C%96%E5%A6%86&market=11&marketPage=1" title="面部护理">面部护理</a>
                                                            <a href="http://search.gome.com.cn/search?question=%E5%BD%A9&market=11&marketPage=1" title="彩妆/香气">彩妆/香气</a>
                                                            <a href="http://search.gome.com.cn/search?question=%E5%8D%AB%E7%94%9F%E5%B7%BE&market=11&marketPage=1" title="个人护理">个人护理</a>
                                        </div>

                                    </div>
                                <div class="o-categorybox">
                                    <div class="o-category-left">
                                                <div class="list">
                                                    <p class="title">面部护理</p>
                                                        <div class="link-list edit-mode" modelType="2" modelId="1,000,040,524">
                                                                            <a href="http://search.gome.com.cn/search?question=%E9%9D%A2%E8%86%9C&market=11&marketPage=1"  target="_blank" title="面膜">面膜</a>
                                                                            <span>|</span>

                                                                            <a href="http://search.gome.com.cn/search?question=%E6%B4%81%E9%9D%A2&market=11&marketPage=1"  target="_blank" title="洁面">洁面</a>
                                                                            <span>|</span>

                                                                            <a href="http://search.gome.com.cn/search?question=%E5%A6%86&market=11&marketPage=1"  target="_blank" title="化妆水">化妆水</a>
                                                                            <span>|</span>

                                                                            <a href="http://search.gome.com.cn/search?question=%E8%8A%A6%E8%8D%9F%E8%83%B6&market=11&marketPage=1"  target="_blank" title="芦荟胶">芦荟胶</a>
                                                                            <span>|</span>

                                                                            <a href="http://search.gome.com.cn/search?question=%E7%9C%BC%E7%BD%A9&market=11&marketPage=1"  target="_blank" title="眼罩">眼罩</a>
                                                                            <span>|</span>

                                                                            <a href="http://search.gome.com.cn/search?question=%E7%8B%AE%E7%8E%8B%E7%A5%9B%E7%97%98%E8%86%8F&market=11&marketPage=1"  target="_blank" title="日本原装狮王祛痘膏">日本原装狮王祛痘膏</a>
                                                                            <span>|</span>

                                                        </div>
                                                </div>
                                                <div class="list">
                                                    <p class="title">彩妆/香气</p>
                                                        <div class="link-list edit-mode" modelType="2" modelId="1,000,040,526">
                                                                            <a href="http://search.gome.com.cn/search?question=%E5%8D%B8%E5%A6%86&market=11&marketPage=1"  target="_blank" title="卸妆">卸妆</a>
                                                                            <span>|</span>

                                                                            <a href="http://search.gome.com.cn/search?question=%E7%9C%89%E7%B2%89&market=11&marketPage=1"  target="_blank" title="眉粉/美膏">眉粉/美膏</a>
                                                                            <span>|</span>

                                                                            <a href="http://search.gome.com.cn/search?question=%E7%9D%AB%E6%AF%9B%E8%86%8F&market=11&marketPage=1"  target="_blank" title="睫毛膏">睫毛膏</a>
                                                                            <span>|</span>

                                                                            <a href="http://search.gome.com.cn/search?question=%E7%9C%BC%E5%BD%B1&market=11&marketPage=1"  target="_blank" title="眼影">眼影</a>
                                                                            <span>|</span>

                                                                            <a href="http://search.gome.com.cn/search?question=%E5%8F%A3%E7%BA%A2&market=11&marketPage=1"  target="_blank" title="唇膏/口红">唇膏/口红</a>
                                                                            <span>|</span>

                                                                            <a href="http://search.gome.com.cn/search?question=%E9%AB%98%E5%85%89&market=11&marketPage=1"  target="_blank" title="高光">高光</a>
                                                                            <span>|</span>

                                                                            <a href="http://search.gome.com.cn/search?question=%E6%89%8B%E9%9C%9C&market=11&marketPage=1"  target="_blank" title="手霜">手霜</a>
                                                                            <span>|</span>

                                                                            <a href="http://search.gome.com.cn/search?question=%E5%A6%86%E5%89%8D%E4%B9%B3&market=11&marketPage=1"  target="_blank" title="妆前乳">妆前乳</a>
                                                                            <span>|</span>

                                                                            <a href="http://search.gome.com.cn/search?question=%E8%9C%9C%E7%B2%89&market=11&marketPage=1"  target="_blank" title="蜜粉">蜜粉</a>
                                                                            <span>|</span>

                                                        </div>
                                                </div>
                                                <div class="list">
                                                    <p class="title">个人护理</p>
                                                        <div class="link-list edit-mode" modelType="2" modelId="1,000,040,528">
                                                                            <a href="http://search.gome.com.cn/search?question=%E6%B4%97%E5%8F%91%E6%B0%B4&market=11&marketPage=1"  target="_blank" title="洗发水">洗发水</a>
                                                                            <span>|</span>

                                                                            <a href="http://search.gome.com.cn/search?question=%E5%8F%91%E8%86%9C&market=11&marketPage=1"  target="_blank" title="发膜">发膜</a>
                                                                            <span>|</span>

                                                                            <a href="http://search.gome.com.cn/search?question=%E6%8A%A4%E5%8F%91%E7%B4%A0&market=11&marketPage=1"  target="_blank" title="护发素">护发素</a>
                                                                            <span>|</span>

                                                                            <a href="http://search.gome.com.cn/search?question=%E7%89%99%E8%86%8F&market=11&marketPage=1"  target="_blank" title="牙膏">牙膏</a>
                                                                            <span>|</span>

                                                                            <a href="http://search.gome.com.cn/search?question=%E5%8D%AB%E7%94%9F%E5%B7%BE&market=11&marketPage=1"  target="_blank" title="日本原装卫生巾">日本原装卫生巾</a>
                                                                            <span>|</span>

                                                        </div>
                                                </div>
                                    </div>
                                    <div class="o-category-right">
                                        <p class="title">热门推荐</p>
                                            <div class="link-list edit-mode" modelType="2" modelId="1,000,040,535">
                                                            <a href="http://search.gome.com.cn/search?question=%E8%8A%B1%E7%8E%8B+%E7%9C%BC%E7%BD%A9&market=11&marketPage=1" target="_blank" title="花王眼罩">花王眼罩</a>
                                                            <a href="http://search.gome.com.cn/search?question=%E8%8A%B1%E7%8E%8B+%E5%8D%AB%E7%94%9F%E5%B7%BE&market=11&marketPage=1" target="_blank" title="花王卫生巾">花王卫生巾</a>
                                                            <a href="http://search.gome.com.cn/search?question=reveur&market=11&marketPage=1" target="_blank" title="Reveur">Reveur</a>
                                                            <a href="http://search.gome.com.cn/search?question=canmake&market=11&marketPage=1" target="_blank" title="canmake井田">canmake井田</a>
                                                            <a href="http://search.gome.com.cn/search?question=%E4%B8%BD%E5%BE%97%E5%A7%BF&market=11&marketPage=1" target="_blank" title="丽得姿面膜">丽得姿面膜</a>
                                                            <a href="http://digital.gome.com.cn" target="_blank" title=""></a>
                                                            <a href="http://health.gome.com.cn" target="_blank" title=""></a>
                                                            <a href="http://life.gome.com.cn" target="_blank" title=""></a>
                                                            <a href="http://q.gome.com.cn" target="_blank" title=""></a>
                                                            <a href="http://jiafang.gome.com.cn" target="_blank" title=""></a>
                                                            <a href="http://homes.gome.com.cn" target="_blank" title=""></a>
                                                            <a href="http://toysgifts.gome.com.cn" target="_blank" title=""></a>
                                            </div>
                                    </div>
                                </div>
                            </li>
                            <li id="snav1">
                                    <div class="o-menu-box edit-mode" modelType="2" modelId="1,000,040,537">
                                        <h3 class="title">食品保健</h3>
                                        <div class="linkbox">
                                                            <a href="http://search.gome.com.cn/search?question=%E9%85%B5%E7%B4%A0&market=11&marketPage=1" title="排毒">排毒</a>
                                                            <a href="http://search.gome.com.cn/search?question=%E7%BB%B4%E7%94%9F%E7%B4%A0C&market=11&marketPage=1" title="基础营养">基础营养</a>
                                                            <a href="http://search.gome.com.cn/search?question=%E8%83%B6%E5%8E%9F%E8%9B%8B%E7%99%BD&market=11&marketPage=1" title="美容养颜">美容养颜</a>
                                                            <a href="http://search.gome.com.cn/search?question=%E7%BA%A4%E4%BD%93&market=11&marketPage=1" title="瘦身">瘦身</a>
                                                            <a href="http://search.gome.com.cn/search?question=%E8%83%B6%E5%9B%8A&market=11&marketPage=1" title="保健品">保健品</a>
                                        </div>

                                    </div>
                                <div class="o-categorybox">
                                    <div class="o-category-left">
                                                <div class="list">
                                                    <p class="title">基础营养</p>
                                                        <div class="link-list edit-mode" modelType="2" modelId="1,000,040,539">
                                                                            <a href="http://search.gome.com.cn/search?question=%E7%BB%B4%E7%94%9F%E7%B4%A0C&market=11&marketPage=1"  target="_blank" title="维生素C">维生素C</a>
                                                                            <span>|</span>

                                                        </div>
                                                </div>
                                                <div class="list">
                                                    <p class="title">排毒</p>
                                                        <div class="link-list edit-mode" modelType="2" modelId="1,000,040,541">
                                                                            <a href="http://search.gome.com.cn/search?question=%E9%85%B5%E7%B4%A0&market=11&marketPage=1"  target="_blank" title="酵素">酵素</a>
                                                                            <span>|</span>

                                                        </div>
                                                </div>
                                                <div class="list">
                                                    <p class="title">美容颜颜</p>
                                                        <div class="link-list edit-mode" modelType="2" modelId="1,000,040,543">
                                                                            <a href="http://search.gome.com.cn/search?question=%E8%83%B6%E5%8E%9F%E8%9B%8B%E7%99%BD&market=11&marketPage=1"  target="_blank" title="胶原蛋白">胶原蛋白</a>
                                                                            <span>|</span>

                                                        </div>
                                                </div>
                                                <div class="list">
                                                    <p class="title">瘦身</p>
                                                        <div class="link-list edit-mode" modelType="2" modelId="1,000,040,545">
                                                                            <a href="http://search.gome.com.cn/search?question=%E7%BA%A4%E4%BD%93&market=11&marketPage=1"  target="_blank" title="纤体">纤体</a>
                                                                            <span>|</span>

                                                        </div>
                                                </div>
                                                <div class="list">
                                                    <p class="title">保健品</p>
                                                        <div class="link-list edit-mode" modelType="2" modelId="1,000,040,547">
                                                                            <a href="http://search.gome.com.cn/search?question=DHC%E8%83%B6%E5%9B%8A&market=11&marketPage=1"  target="_blank" title="DHC">DHC</a>
                                                                            <span>|</span>

                                                                            <a href="http://search.gome.com.cn/search?question=FANCL&market=11&marketPage=1"  target="_blank" title="FANCL">FANCL</a>
                                                                            <span>|</span>

                                                                            <a href="http://search.gome.com.cn/search?question=%E6%98%8E%E6%B2%BB&market=11&marketPage=1"  target="_blank" title="明治">明治</a>
                                                                            <span>|</span>

                                                                            <a href="http://search.gome.com.cn/search?question=%E7%AB%8B%E5%96%9C%E4%B9%90&market=11&marketPage=1"  target="_blank" title="立喜乐">立喜乐</a>
                                                                            <span>|</span>

                                                                            <a href="http://search.gome.com.cn/search?question=%E8%87%AA%E7%84%B6%E4%B9%8B%E5%AE%9D&market=11&marketPage=1" class="red" target="_blank" title="自然之宝">自然之宝</a>
                                                                            <span>|</span>

                                                                            <a href="http://search.gome.com.cn/search?question=GNC&market=11&marketPage=1" class="red" target="_blank" title="GNC">GNC</a>
                                                                            <span>|</span>

                                                                            <a href="http://search.gome.com.cn/search?question=%E5%BA%B7%E7%BB%B4%E4%BB%96&market=11&marketPage=1"  target="_blank" title="康维他">康维他</a>
                                                                            <span>|</span>

                                                        </div>
                                                </div>
                                    </div>
                                    <div class="o-category-right">
                                        <p class="title">热门推荐</p>
                                            <div class="link-list edit-mode" modelType="2" modelId="1,000,040,550">
                                                            <a href="http://search.gome.com.cn/search?question=%E9%85%B5%E7%B4%A0&market=11&marketPage=1" target="_blank" title="酵素">酵素</a>
                                                            <a href="http://search.gome.com.cn/search?question=FANCL&market=11&marketPage=1" target="_blank" title="FANCL">FANCL</a>
                                                            <a href="http://search.gome.com.cn/search?question=%E6%98%8E%E6%B2%BB&market=11&marketPage=1" target="_blank" title="明治">明治</a>
                                                            <a href="http://search.gome.com.cn/search?question=%E7%AB%8B%E5%96%9C%E4%B9%90&market=11&marketPage=1" target="_blank" title="立喜乐">立喜乐</a>
                                                            <a href="http://search.gome.com.cn/search?question=%E8%87%AA%E7%84%B6%E4%B9%8B%E5%AE%9D&market=11&marketPage=1" target="_blank" title="自然之宝">自然之宝</a>
                                                            <a href="http://search.gome.com.cn/search?question=GNC&market=11&marketPage=1" target="_blank" title="GNC">GNC</a>
                                                            <a href="http://search.gome.com.cn/search?question=%E5%BA%B7%E7%BB%B4%E4%BB%96&market=11&marketPage=1" target="_blank" title="康维他">康维他</a>
                                                            <a href="http://tuan.gome.com.cn" target="_blank" title=""></a>
                                                            <a href="http://q.gome.com.cn" target="_blank" title=""></a>
                                                            <a href="http://q.gome.com.cn" target="_blank" title=""></a>
                                                            <a href="http://q.gome.com.cn" target="_blank" title=""></a>
                                                            <a href="http://q.gome.com.cn" target="_blank" title=""></a>
                                            </div>
                                    </div>
                                </div>
                            </li>
                            <li id="snav2">
                                    <div class="o-menu-box edit-mode" modelType="2" modelId="1,000,040,552">
                                        <h3 class="title">大牌奶粉</h3>
                                        <div class="linkbox">
                                                            <a href="http://search.gome.com.cn/search?question=%E8%8D%B7%E5%85%B0%E7%89%9B%E6%A0%8F&market=11&marketPage=1" title="荷兰牛栏">荷兰牛栏</a>
                                        </div>

                                    </div>
                                <div class="o-categorybox">
                                    <div class="o-category-left">
                                                <div class="list">
                                                    <p class="title">荷兰牛栏</p>
                                                        <div class="link-list edit-mode" modelType="2" modelId="1,000,040,554">
                                                                            <a href="http://search.gome.com.cn/search?question=%E8%8D%B7%E5%85%B0%E7%89%9B%E6%A0%8F&market=11&marketPage=1"  target="_blank" title="1段">1段</a>
                                                                            <span>|</span>

                                                                            <a href="http://search.gome.com.cn/search?question=%E8%8D%B7%E5%85%B0%E7%89%9B%E6%A0%8F&market=11&marketPage=1"  target="_blank" title="2段">2段</a>
                                                                            <span>|</span>

                                                                            <a href="http://search.gome.com.cn/search?question=%E8%8D%B7%E5%85%B0%E7%89%9B%E6%A0%8F&market=11&marketPage=1"  target="_blank" title="3段">3段</a>
                                                                            <span>|</span>

                                                                            <a href="http://search.gome.com.cn/search?question=%E8%8D%B7%E5%85%B0%E7%89%9B%E6%A0%8F&market=11&marketPage=1"  target="_blank" title="4段">4段</a>
                                                                            <span>|</span>

                                                                            <a href="http://search.gome.com.cn/search?question=%E8%8D%B7%E5%85%B0%E7%89%9B%E6%A0%8F&market=11&marketPage=1"  target="_blank" title="5段">5段</a>
                                                                            <span>|</span>

                                                        </div>
                                                </div>
                                    </div>
                                    <div class="o-category-right">
                                        <p class="title">热门推荐</p>
                                            <div class="link-list edit-mode" modelType="2" modelId="1,000,040,565">
                                                            <a href="http://search.gome.com.cn/search?question=%E8%8D%B7%E5%85%B0%E7%89%9B%E6%A0%8F&market=11&marketPage=1" target="_blank" title="牛栏">牛栏</a>
                                                            <a href="http://market.gome.com.cn" target="_blank" title=""></a>
                                                            <a href="http://jiadian.gome.com.cn" target="_blank" title=""></a>
                                                            <a href="http://clothing.gome.com.cn" target="_blank" title=""></a>
                                                            <a href="http://luxury.gome.com.cn" target="_blank" title=""></a>
                                                            <a href="http://watch.gome.com.cn" target="_blank" title=""></a>
                                                            <a href="http://fashion.gome.com.cn" target="_blank" title=""></a>
                                                            <a href="http://homes.gome.com.cn" target="_blank" title=""></a>
                                                            <a href="http://fashion.gome.com.cn" target="_blank" title=""></a>
                                                            <a href="http://homes.gome.com.cn" target="_blank" title=""></a>
                                                            <a href="http://clothing.gome.com.cn" target="_blank" title=""></a>
                                                            <a href="http://www.gome.com.cn" target="_blank" title=""></a>
                                            </div>
                                    </div>
                                </div>
                            </li>
                            <li id="snav3">
                                    <div class="o-menu-box edit-mode" modelType="2" modelId="1,000,040,567">
                                        <h3 class="title">生活数码</h3>
                                        <div class="linkbox">
                                                            <a href="http://search.gome.com.cn/search?question=%E8%86%B3%E9%AD%94%E5%B8%88&market=11&marketPage=1" title="生活家居">生活家居</a>
                                        </div>

                                    </div>
                                <div class="o-categorybox">
                                    <div class="o-category-left">
                                                <div class="list">
                                                    <p class="title">生活家居</p>
                                                        <div class="link-list edit-mode" modelType="2" modelId="1,000,040,569">
                                                                            <a href="http://search.gome.com.cn/search?question=%E8%86%B3%E9%AD%94%E5%B8%88&market=11&marketPage=1"  target="_blank" title="膳魔师">膳魔师</a>
                                                                            <span>|</span>

                                                                            <a href="http://search.gome.com.cn/search?question=%E8%B1%A1%E5%8D%B0&market=11&marketPage=1"  target="_blank" title="象印">象印</a>
                                                                            <span>|</span>

                                                                            <a href="http://search.gome.com.cn/search?question=%E9%83%A1%E6%98%AF&market=11&marketPage=1"  target="_blank" title="郡是">郡是</a>
                                                                            <span>|</span>

                                                                            <a href="http://search.gome.com.cn/search?question=%E5%B0%A4%E5%A6%AE%E4%BD%B3%E5%8F%A3%E7%BD%A9&market=11&marketPage=1"  target="_blank" title="尤妮佳口罩">尤妮佳口罩</a>
                                                                            <span>|</span>

                                                        </div>
                                                </div>
                                    </div>
                                    <div class="o-category-right">
                                        <p class="title">热门推荐</p>
                                            <div class="link-list edit-mode" modelType="2" modelId="1,000,040,580">
                                                            <a href="http://search.gome.com.cn/search?question=%E4%BF%9D%E6%B8%A9%E6%9D%AF&market=11&marketPage=1" target="_blank" title="保温杯">保温杯</a>
                                                            <a href="http://computer.gome.com.cn" target="_blank" title=""></a>
                                                            <a href="http://tao.gome.com.cn" target="_blank" title=""></a>
                                                            <a href="http://fashion.gome.com.cn" target="_blank" title=""></a>
                                                            <a href="http://life.gome.com.cn" target="_blank" title=""></a>
                                                            <a href="http://mall.gome.com.cn" target="_blank" title=""></a>
                                                            <a href="http://q.gome.com.cn" target="_blank" title=""></a>
                                                            <a href="http://electronic.gome.com.cn" target="_blank" title=""></a>
                                                            <a href="http://fashion.gome.com.cn" target="_blank" title=""></a>
                                                            <a href="http://tao.gome.com.cn" target="_blank" title=""></a>
                                                            <a href="http://tuan.gome.com.cn" target="_blank" title=""></a>
                                                            <a href="http://computer.gome.com.cn" target="_blank" title=""></a>
                                            </div>
                                    </div>
                                </div>
                            </li>
                </ul>
            </div>
        </div>
        <ul class="mainnav clearfix edit-mode"  modelType="2" modelId="1,000,040,581">
                        <li id="g-index" class="navcur" >
                            <a href="http://www.gomehigo.hk/" target="_blank" title="首页">
                                <span>首页</span>
                            </a>
                        </li>
                        <li id="g-index"  >
                            <a href="http://www.gomehigo.hk/japan_index.html" target="_blank" title="日本馆">
                                <span>日本馆</span>
                            </a>
                        </li>
        </ul>
    </div>
</div>
<!-- 导航 end-->
<!--headerEnd-->
















